In [29]:
import pandas as pd
import quandl

In [31]:
df = quandl.get('WIKI/GOOGL')

In [32]:
df.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2004-08-19,100.01,104.06,95.96,100.335,44659000.0,0.0,1.0,50.159839,52.191109,48.128568,50.322842,44659000.0
2004-08-20,101.01,109.08,100.50,108.310,22834300.0,0.0,1.0,50.661387,54.708881,50.405597,54.322689,22834300.0
2004-08-23,110.76,113.48,109.05,109.400,18256100.0,0.0,1.0,55.551482,56.915693,54.693835,54.869377,18256100.0
2004-08-24,111.24,111.60,103.57,104.870,15247300.0,0.0,1.0,55.792225,55.972783,51.945350,52.597363,15247300.0
2004-08-25,104.76,108.00,103.88,106.000,9188600.0,0.0,1.0,52.542193,54.167209,52.100830,53.164113,9188600.0

In [8]:
#SOme feartues
df = df[['Adj. Open' , 'Adj. Open', 'Adj. High', 'Adj. Low', 'Adj. Close', 'Adj. Volume']]

In [20]:
df.head()

,Adj. Open,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,
2004-08-19,50.159839,50.159839,52.191109,48.128568,50.322842,44659000.0
2004-08-20,50.661387,50.661387,54.708881,50.405597,54.322689,22834300.0
2004-08-23,55.551482,55.551482,56.915693,54.693835,54.869377,18256100.0
2004-08-24,55.792225,55.792225,55.972783,51.945350,52.597363,15247300.0
2004-08-25,52.542193,52.542193,54.167209,52.100830,53.164113,9188600.0

In [21]:
#define new feature
df['HL_PCT'] = (df['Adj. High'] - df['Adj. Close'])/df['Adj. Close'] * 100
df['PCT_Change'] = (df['Adj. Close'] - df['Adj. Open'])/df['Adj. Open'] * 100

TypeError: Cannot compare type 'Timestamp' with type 'str'

In [28]:
x = df['Adj. Open']
x.sort_values

<bound method DataFrame.sort_values of               Adj. Open    Adj. Open
Date
2004-08-19    50.159839    50.159839
2004-08-20    50.661387    50.661387
2004-08-23    55.551482    55.551482
2004-08-24    55.792225    55.792225
2004-08-25    52.542193    52.542193
2004-08-26    52.637487    52.637487
2004-08-27    54.217364    54.217364
2004-08-30    52.802998    52.802998
2004-08-31    51.318415    51.318415
2004-09-01    51.509003    51.509003
2004-09-02    49.698414    49.698414
2004-09-03    50.631294    50.631294
2004-09-07    50.661387    50.661387
2004-09-08    50.525969    50.525969
2004-09-09    51.408694    51.408694
2004-09-10    50.892099    50.892099
2004-09-13    53.480088    53.480088
2004-09-14    53.886342    53.886342
2004-09-15    55.451172    55.451172
2004-09-16    56.343928    56.343928
2004-09-17    57.387149    57.387149
2004-09-20    58.656066    58.656066
2004-09-21    60.286097    60.286097
2004-09-22    58.906840    58.906840
2004-09-23    59.603992    59.603992
2004-09-24    60.672290    60.672290
2004-09-27    59.965107    59.965107
2004-09-28    60.762568    60.762568
2004-09-29    63.460898    63.460898
2004-09-30    65.150614    65.150614
...                 ...          ...
2017-11-20  1036.000000  1036.000000
2017-11-21  1040.040000  1040.040000
2017-11-22  1051.160000  1051.160000
2017-11-24  1054.390000  1054.390000
2017-11-27  1058.570000  1058.570000
2017-11-28  1073.990000  1073.990000
2017-11-29  1056.180000  1056.180000
2017-11-30  1039.940000  1039.940000
2017-12-01  1030.410000  1030.410000
2017-12-04  1027.800000  1027.800000
2017-12-05  1010.990000  1010.990000
2017-12-06  1016.520000  1016.520000
2017-12-07  1036.070000  1036.070000
2017-12-08  1051.810000  1051.810000
2017-12-11  1051.110000  1051.110000
2017-12-12  1050.000000  1050.000000
2017-12-13  1052.080000  1052.080000
2017-12-14  1055.490000  1055.490000
2017-12-15  1063.780000  1063.780000
2017-12-18  1076.450000  1076.450000
2017-12-19  1083.020000  1083.020000
2017-12-20  1080.920000  1080.920000
2017-12-21  1075.390000  1075.390000
2017-12-22  1070.000000  1070.000000
2017-12-26  1068.640000  1068.640000
2017-12-27  1066.600000  1066.600000
2017-12-28  1062.250000  1062.250000
2017-12-29  1055.490000  1055.490000
2018-01-02  1053.020000  1053.020000
2018-01-03  1073.930000  1073.930000

[3367 rows x 2 columns]>

In [16]:
df.head()

,Adj. Open,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume,HL_PCT,PCT_Change
Date,,,,,,,,
2004-08-19,50.159839,50.159839,52.191109,48.128568,50.322842,44659000.0,3.712563,3.712563
2004-08-20,50.661387,50.661387,54.708881,50.405597,54.322689,22834300.0,0.710922,0.710922
2004-08-23,55.551482,55.551482,56.915693,54.693835,54.869377,18256100.0,3.729433,3.729433
2004-08-24,55.792225,55.792225,55.972783,51.945350,52.597363,15247300.0,6.417469,6.417469
2004-08-25,52.542193,52.542193,54.167209,52.100830,53.164113,9188600.0,1.886792,1.886792