In [1]:
    
    import bs4 as bs
import datetime as dt
import pandas_datareader.data as web
#import morningstar
#import pandas_datareader.data as web
import fix_yahoo_finance
import pickle
import requests



def save_sp500_tickers():
    resp = requests.get('http://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
    soup = bs.BeautifulSoup(resp.text, 'lxml')
    table = soup.find('table', {'class': 'wikitable sortable'})
    tickers = []
    for row in table.findAll('tr')[1:]:
        ticker = row.findAll('td')[0].text
        tickers.append(ticker.strip())

    with open("/Users/jvsingh/work/python_algo/data/sp500tickers.pickle","wb") as f:
        pickle.dump(tickers,f)

    return tickers

/Users/jvsingh/anaconda3/lib/python3.7/site-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal
/Users/jvsingh/anaconda3/lib/python3.7/site-packages/fix_yahoo_finance/__init__.py:0: DeprecationWarning:

*** `fix_yahoo_finance` was renamed to `yfinance`. ***
Please install and use `yfinance` directly using `pip install yfinance -U`

More information: https://github.com/ranaroussi/yfinance

In [2]:
tickers = save_sp500_tickers()

In [3]:
# save_sp500_tickers()
def get_data_from_yahoo(reload_sp500=False):
    if reload_sp500:
        tickers = save_sp500_tickers()
    else:
        with open("/Users/jvsingh/work/python_algo/data/sp500tickers.pickle", "rb") as f:
            tickers = pickle.load(f)
    return(tickers)

In [4]:
import os
if not os.path.exists('/Users/jvsingh/work/python_algo/data/stock_dfs'):
    os.makedirs('/Users/jvsingh/work/python_algo/data/stock_dfs')

In [5]:
try:
    df = web.get_data_yahoo('BRK.B', start=dt.datetime(2016, 1,1), end=dt.datetime(2020, 4,4))
except KeyError:
    print("Got Error")
    #df.reset_index(inplace=True)

Got Error

In [7]:
tickers = get_data_from_yahoo()
start   = dt.datetime(2010, 1, 1)
end     = dt.datetime.now()
for ticker in tickers:
    # just in case your connection breaks, we'd like to save our progress!
    #print('Trying ticker {}'.format(ticker))
    if not os.path.exists('/Users/jvsingh/work/python_algo/data/stock_dfs/{}.csv'.format(ticker)):
        try:
            #df = web.DataReader(ticker, 'yahoo', start, end)
            df = web.get_data_yahoo(ticker, start, end)
            df.reset_index(inplace=True)
            df.set_index("Date", inplace=True)
            #df = df.drop("Symbol", axis=1)
            df.to_csv('/Users/jvsingh/work/python_algo/data/stock_dfs/{}.csv'.format(ticker))
        except KeyError:
            print("Key Error got for {}".format(ticker))
    else:
        print('Already have {}'.format(ticker))

Already have MMM
Already have ABT
Already have ABBV
Already have ABMD
Already have ACN
Already have ATVI
Already have ADBE
Already have AMD
Already have AAP
Already have AES
Already have AFL
Already have A
Already have APD
Already have AKAM
Already have ALK
Already have ALB
Already have ARE
Already have ALXN
Already have ALGN
Already have ALLE
Already have AGN
Already have ADS
Already have LNT
Already have ALL
Already have GOOGL
Already have GOOG
Already have MO
Already have AMZN
Already have AMCR
Already have AEE
Already have AAL
Already have AEP
Already have AXP
Already have AIG
Already have T
Already have AMT
Already have AWK
Already have AMP
Already have ABC
Already have AME
Already have AMGN
Already have APH
Already have ADI
Already have ANSS
Already have ANTM
Already have AON
Already have AOS
Already have APA
Already have AIV
Already have AAPL
Already have AMAT
Already have APTV
Already have ADM
Already have ARNC
Already have ANET
Already have AJG
Already have AIZ
Already have ATO
Already have ADSK
Already have ADP
Already have AZO
Already have AVB
Already have AVY
Already have BKR
Already have BLL
Already have BAC
Already have BK
Already have BAX
Already have BDX
Key Error got for BRK.B
Already have BBY
Already have BIIB
Already have BLK
Already have BA
Already have BKNG
Already have BWA
Already have BXP
Already have BSX
Already have BMY
Already have AVGO
Already have BR
Key Error got for BF.B
Already have CHRW
Already have COG
Already have CDNS
Already have CPB
Already have COF
Already have CPRI
Already have CAH
Already have KMX
Already have CCL
Already have CAT
Already have CBOE
Already have CBRE
Already have CDW
Already have CE
Already have CNC
Already have CNP
Already have CTL
Already have CERN
Already have CF
Already have SCHW
Already have CHTR
Already have CVX
Already have CMG
Already have CB
Already have CHD
Already have CI
Already have CINF
Already have CTAS
Already have CSCO
Already have C
Already have CFG
Already have CTXS
Already have CLX
Already have CME
Already have CMS
Already have KO
Already have CTSH
Already have CL
Already have CMCSA
Already have CMA
Already have CAG
Already have CXO
Already have COP
Already have ED
Already have STZ
Already have COO
Already have CPRT
Already have GLW
Already have CTVA
Already have COST
Already have COTY
Already have CCI
Already have CSX
Already have CMI
Already have CVS
Already have DHI
Already have DHR
Already have DRI
Already have DVA
Already have DE
Already have DAL
Already have XRAY
Already have DVN
Already have FANG
Already have DLR
Already have DFS
Already have DISCA
Already have DISCK
Already have DISH
Already have DG
Already have DLTR
Already have D
Already have DOV
Already have DOW
Already have DTE
Already have DUK
Already have DRE
Already have DD
Already have DXC
Already have ETFC
Already have EMN
Already have ETN
Already have EBAY
Already have ECL
Already have EIX
Already have EW
Already have EA
Already have EMR
Already have ETR
Already have EOG
Already have EFX
Already have EQIX
Already have EQR
Already have ESS
Already have EL
Already have EVRG
Already have ES
Already have RE
Already have EXC
Already have EXPE
Already have EXPD
Already have EXR
Already have XOM
Already have FFIV
Already have FB
Already have FAST
Already have FRT
Already have FDX
Already have FIS
Already have FITB
Already have FE
Already have FRC
Already have FISV
Already have FLT
Already have FLIR
Already have FLS
Already have FMC
Already have F
Already have FTNT
Already have FTV
Already have FBHS
Already have FOXA
Already have FOX
Already have BEN
Already have FCX
Already have GPS
Already have GRMN
Already have IT
Already have GD
Already have GE
Already have GIS
Already have GM
Already have GPC
Already have GILD
Already have GL
Already have GPN
Already have GS
Already have GWW
Already have HRB
Already have HAL
Already have HBI
Already have HOG
Already have HIG
Already have HAS
Already have HCA
Already have PEAK
Already have HP
Already have HSIC
Already have HSY
Already have HES
Already have HPE
Already have HLT
Already have HFC
Already have HOLX
Already have HD
Already have HON
Already have HRL
Already have HST
Already have HWM
Already have HPQ
Already have HUM
Already have HBAN
Already have HII
Already have IEX
Already have IDXX
Already have INFO
Already have ITW
Already have ILMN
Already have INCY
Already have IR
Already have INTC
Already have ICE
Already have IBM
Already have IP
Already have IPG
Already have IFF
Already have INTU
Already have ISRG
Already have IVZ
Already have IPGP
Already have IQV
Already have IRM
Already have JKHY
Already have J
Already have JBHT
Already have SJM
Already have JNJ
Already have JCI
Already have JPM
Already have JNPR
Already have KSU
Already have K
Already have KEY
Already have KEYS
Already have KMB
Already have KIM
Already have KMI
Already have KLAC
Already have KSS
Already have KHC
Already have KR
Already have LB
Already have LHX
Already have LH
Already have LRCX
Already have LW
Already have LVS
Already have LEG
Already have LDOS
Already have LEN
Already have LLY
Already have LNC
Already have LIN
Already have LYV
Already have LKQ
Already have LMT
Already have L
Already have LOW
Already have LYB
Already have MTB
Already have M
Already have MRO
Already have MPC
Already have MKTX
Already have MAR
Already have MMC
Already have MLM
Already have MAS
Already have MA
Already have MKC
Already have MXIM
Already have MCD
Already have MCK
Already have MDT
Already have MRK
Already have MET
Already have MTD
Already have MGM
Already have MCHP
Already have MU
Already have MSFT
Already have MAA
Already have MHK
Already have TAP
Already have MDLZ
Already have MNST
Already have MCO
Already have MS
Already have MOS
Already have MSI
Already have MSCI
Already have MYL
Already have NDAQ
Already have NOV
Already have NTAP
Already have NFLX
Already have NWL
Already have NEM
Already have NWSA
Already have NWS
Already have NEE
Already have NLSN
Already have NKE
Already have NI
Already have NBL
Already have JWN
Already have NSC
Already have NTRS
Already have NOC
Already have NLOK
Already have NCLH
Already have NRG
Already have NUE
Already have NVDA
Already have NVR
Already have ORLY
Already have OXY
Already have ODFL
Already have OMC
Already have OKE
Already have ORCL
Already have PCAR
Already have PKG
Already have PH
Already have PAYX
Already have PAYC
Already have PYPL
Already have PNR
Already have PBCT
Already have PEP
Already have PKI
Already have PRGO
Already have PFE
Already have PM
Already have PSX
Already have PNW
Already have PXD
Already have PNC
Already have PPG
Already have PPL
Already have PFG
Already have PG
Already have PGR
Already have PLD
Already have PRU
Already have PEG
Already have PSA
Already have PHM
Already have PVH
Already have QRVO
Already have PWR
Already have QCOM
Already have DGX
Already have RL
Already have RJF
Already have RTX
Already have O
Already have REG
Already have REGN
Already have RF
Already have RSG
Already have RMD
Already have RHI
Already have ROK
Already have ROL
Already have ROP
Already have ROST
Already have RCL
Already have SPGI
Already have CRM
Already have SBAC
Already have SLB
Already have STX
Already have SEE
Already have SRE
Already have NOW
Already have SHW
Already have SPG
Already have SWKS
Already have SLG
Already have SNA
Already have SO
Already have LUV
Already have SWK
Already have SBUX
Already have STT
Already have STE
Already have SYK
Already have SIVB
Already have SYF
Already have SNPS
Already have SYY
Already have TMUS
Already have TROW
Already have TTWO
Already have TPR
Already have TGT
Already have TEL
Already have FTI
Already have TFX
Already have TXN
Already have TXT
Already have TMO
Already have TIF
Already have TJX
Already have TSCO
Already have TT
Already have TDG
Already have TRV
Already have TFC
Already have TWTR
Already have TSN
Already have UDR
Already have ULTA
Already have USB
Already have UAA
Already have UA
Already have UNP
Already have UAL
Already have UNH
Already have UPS
Already have URI
Already have UHS
Already have UNM
Already have VFC
Already have VLO
Already have VAR
Already have VTR
Already have VRSN
Already have VRSK
Already have VZ
Already have VRTX

In [9]:
#!pip install yfinance
#!pip install fix_yahoo_finance

In [10]:
import pandas as pd

In [13]:
ticker  = "MMM"
df = pd.read_csv('/Users/jvsingh/work/python_algo/data/stock_dfs/{}.csv'.format(ticker))

In [14]:
df.head()

,Date,High,Low,Open,Close,Volume,Adj Close
0,2009-12-31,84.080002,82.540001,83.790001,82.669998,2049800.0,63.251263
1,2010-01-04,83.449997,82.669998,83.089996,83.019997,3043700.0,63.519070
2,2010-01-05,83.230003,81.699997,82.800003,82.500000,2847000.0,63.121239
3,2010-01-06,84.599998,83.510002,83.879997,83.669998,5268500.0,64.016403
4,2010-01-07,83.760002,82.120003,83.320000,83.730003,4470100.0,64.062294

In [19]:
df = df.set_index("Date")

In [20]:
df.Close.pct_change()

Date
2009-12-31         NaN
2010-01-04    0.004234
2010-01-05   -0.006264
2010-01-06    0.014182
2010-01-07    0.000717
                ...
2020-03-30    0.033774
2020-03-31   -0.008930
2020-04-01   -0.024687
2020-04-02    0.035827
2020-04-03   -0.029875
Name: Close, Length: 2582, dtype: float64

In [22]:
type(df.Close)

pandas.core.series.Series

In [29]:
df_ret = df.pct_change()[["High", "Low", "Open", "Close"]]

In [31]:
df_ret

                High       Low      Open     Close
Date
2009-12-31       NaN       NaN       NaN       NaN
2010-01-04 -0.007493  0.001575 -0.008354  0.004234
2010-01-05 -0.002636 -0.011733 -0.003490 -0.006264
2010-01-06  0.016460  0.022154  0.013043  0.014182
2010-01-07 -0.009929 -0.016645 -0.006676  0.000717
...              ...       ...       ...       ...
2020-03-30  0.006858  0.001146 -0.004366  0.033774
2020-03-31  0.010362  0.035251  0.026011 -0.008930
2020-04-01 -0.025818 -0.034419 -0.027194 -0.024687
2020-04-02  0.017447  0.008320  0.002727  0.035827
2020-04-03 -0.005571  0.006056  0.027576 -0.029875

[2582 rows x 4 columns]

In [32]:
df_ret.rolling(50).mean()

                High       Low      Open     Close
Date
2009-12-31       NaN       NaN       NaN       NaN
2010-01-04       NaN       NaN       NaN       NaN
2010-01-05       NaN       NaN       NaN       NaN
2010-01-06       NaN       NaN       NaN       NaN
2010-01-07       NaN       NaN       NaN       NaN
...              ...       ...       ...       ...
2020-03-30 -0.005202 -0.005843 -0.005797 -0.004696
2020-03-31 -0.005100 -0.005250 -0.005313 -0.004912
2020-04-01 -0.005590 -0.005710 -0.005950 -0.005190
2020-04-02 -0.005094 -0.005459 -0.005638 -0.004322
2020-04-03 -0.004969 -0.005171 -0.004815 -0.004886

[2582 rows x 4 columns]

In [33]:
df_ret.rolling(50).mean().plot()

In [ ]:
# Relative strength, NDX to SP500 
data['rel_str'] = data['NDX'] / data['SP500']