From DataFrame to Excel

From Excel to DataFrame

From DataFrame to JSON

From JSON to DataFrame

In [1]:
import pandas as pd
import sys

In [2]:
print('Python version ' + sys.version)
print('Pandas version ' + pd.__version__)

Python version 2.7.13 |Anaconda custom (64-bit)| (default, Dec 20 2016, 23:05:08)
[GCC 4.2.1 Compatible Apple LLVM 6.0 (clang-600.0.57)]
Pandas version 0.20.3

### From DataFrame to Excel

In [4]:
# Create DataFrame
d = [1,2,3,4,5,6,7,8,9]
df = pd.DataFrame(d, columns = ['Number'])
df

   Number
0       1
1       2
2       3
3       4
4       5
5       6
6       7
7       8
8       9

In [5]:
# Export to Excel
df.to_excel('Lesson10.xlsx', sheet_name = 'testing', index = False)
print('Done')

Done

### From Excel to DataFrame

In [6]:
# Path to excel file
# Your path will be different, please modify the path below.
location = r'Lesson10.xlsx'

# Parse the excel file
df = pd.read_excel(location, 0)
df.head()

   Number
0       1
1       2
2       3
3       4
4       5

In [7]:
df.dtypes

Number    int64
dtype: object

In [8]:
df.tail()

   Number
4       5
5       6
6       7
7       8
8       9

### From DataFrame to JSON

In [9]:
df.to_json('Lesson10.json')
print('Done')

Done

### From JSON to DataFrame

In [10]:
# Your path will be different, please modify the path below.
jsonloc = r'Lesson10.json'

# read json file
df2 = pd.read_json(jsonloc)

In [11]:
df2

   Number
0       1
1       2
2       3
3       4
4       5
5       6
6       7
7       8
8       9

In [12]:
df2.dtypes

Number    int64
dtype: object