In [7]:
df = {
    'index':[0,1,2],
    'cols': [
             {'name':'growth',
              'data':[.5, .7, 1.2] },
             { 'name':'Name',
              'data':['Paul', 'George', 'Ringo'] }]}

In [8]:
df

{'index': [0, 1, 2],
 'cols': [{'name': 'growth', 'data': [0.5, 0.7, 1.2]},
  {'name': 'Name', 'data': ['Paul', 'George', 'Ringo']}]}

In [10]:
def get_row(df, idx):
    results = []
    value_idx = df['index'].index(idx)
    for col in df['cols']:
        results.append(col['data'][value_idx])
    return results

In [11]:
get_row(df, 1)

[0.7, 'George']

In [12]:
def get_col(df, name):
    for col in df['cols']:
        if col['name'] == name:
            return col['data']

In [13]:
get_col(df, 'Name')

['Paul', 'George', 'Ringo']

In [15]:
#DataFrames

import pandas as pd
df = pd.DataFrame({'growth':[.5, .7, 1.2],
                   'Name':['Paul', 'George', 'Ringo']})

In [16]:
df

   growth    Name
0     0.5    Paul
1     0.7  George
2     1.2   Ringo

In [18]:
df.iloc[0]

growth     0.5
Name      Paul
Name: 0, dtype: object

In [19]:
df['Name']

0      Paul
1    George
2     Ringo
Name: Name, dtype: object

In [20]:
type(df['Name'])

pandas.core.series.Series

In [21]:
df['Name'].str.lower()

0      paul
1    george
2     ringo
Name: Name, dtype: object

In [58]:
import numpy as np
x = np.random.randn(10,3)
x

array([[-1.22366738,  0.5387756 ,  1.22274289],
       [ 0.87797588,  1.83260692,  0.32372349],
       [-0.41688812,  1.49505908, -0.77588595],
       [-0.39616694,  1.88117693,  1.04914253],
       [-0.7122289 , -1.58739722,  0.09448163],
       [ 1.59149884, -0.19615327,  0.99066045],
       [-0.82371488,  0.32352659, -1.00415384],
       [ 0.37588003,  1.07348519, -2.07748041],
       [-0.20661692,  0.96797353,  1.59292545],
       [-2.17090842,  1.33447262, -1.76412169]])

In [59]:
rdf = pd.DataFrame(x, columns=['a', 'b', 'c'])
rdf

          a         b         c
0 -1.223667  0.538776  1.222743
1  0.877976  1.832607  0.323723
2 -0.416888  1.495059 -0.775886
3 -0.396167  1.881177  1.049143
4 -0.712229 -1.587397  0.094482
5  1.591499 -0.196153  0.990660
6 -0.823715  0.323527 -1.004154
7  0.375880  1.073485 -2.077480
8 -0.206617  0.967974  1.592925
9 -2.170908  1.334473 -1.764122

In [52]:
df

   growth    Name
0     0.5    Paul
1     0.7  George
2     1.2   Ringo

In [53]:
df.axes

[RangeIndex(start=0, stop=3, step=1),
 Index(['growth', 'Name'], dtype='object')]

In [54]:
df.apply(np.sum, axis=0)

growth                2.4
Name      PaulGeorgeRingo
dtype: object

In [63]:
rdf.apply(np.sum, axis=1)

0    0.537851
1    3.034306
2    0.302285
3    2.534153
4   -2.205144
5    2.386006
6   -1.504342
7   -0.628115
8    2.354282
9   -2.600558
dtype: float64

In [64]:
from bs4 import BeautifulSoup
import pandas as pd
import requests as r

In [66]:
base = 'https://utahavalanchecenter.org/'
url = base + 'avalanches/fatalities'

In [67]:
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; '\
'Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, '\
'like Gecko) Chrome/39.0.2171.95 Safari/537.36'}

In [68]:
def get_avalanches(url):
    req = r.get(url, headers=headers)
    data = req.text
    soup = BeautifulSoup(data)
    content = soup.find(id="content")
    trs = content.find_all('tr')
    res = []
    for tr in trs:
        tds = tr.find_all('td')
        data = {}
        for td in tds:
            name, value = get_field_name_value(td)
            if not name:
                continue
            data[name] = value
            if data:
                res.append(data)
    return res

In [69]:
def get_field_name_value(elem):
    tags = elem.get('class')
    start = 'views-field-field-'
    for t in tags:
        if t.startswith(start):
            return t[len(start):], ''.join(elem.stripped_strings)
        elif t == 'views-field-view-node':
            return 'url', elem.a['href']
    return None, None